.pixel-div {
    font-size: 30px;
}

.em-parent {
    font-size: 8px;
    background-color: bisque;
}

.em-heading {
    font-size: 5em;
    color: blue;
}
.em-child {
    font-size: 2em;
}

.rem-parent {
    font-size: 16px;
    background-color: cyan;
}

.rem-heading {
    font-size: 2.5rem;
    color: blue;
}
.rem-child {
    font-size: 2rem;
}